



<div class="container">
  <div class="row">
    <div class="col-md-4">
      <ul class="nav flex-column grey lighten-4 py-4">
        <li class="nav-item">
          <a class="nav-link active" href="#!">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#!">Disabled</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <app-list-product></app-list-product>
    </div>
  </div>
</div>
